.container{
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 40vh;
    margin: 3rem auto;
}
.formContainer{
    

}
.inputWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.inputWrapper label{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.inputWrapper input[type=text],input[type=email]{
width: 30%;
height: 2rem;
margin: 1rem;
border: 1px solid #001D3D;
}
.inputWrapper input[type=text-area]{
    width: 50%;
    height: 2rem;
    margin: 1rem;
    border: 1px solid #001D3D;
    }